# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
.env.*
!.env.example
client/.env
server/.env
client/.env.*
server/.env.*

# Build output
dist/
client/dist/
server/dist/
build/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
